* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  display: flex;
  height: 100vh;
}

.center {
  width: 750px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  border: 1px solid rgb(201, 193, 193);
}

.header {
  width: 100vw;
  height: 55vh;
  background-color: white;
}

.cover-pic {
  width: 100vw;
  height: 28vh;
  position: relative;
}

.cover-pic img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.name {
  position: absolute;
  margin-top: 0;
  background-color: white;
  width: 100%;
  height: 60px;
}

.name h1 {
  margin-left: 75px;
  height: 50%;
  top: 0;
  font-size: 20px;
}

.name p {
  margin-left: 75px;
  position: absolute;
  top: 20px;
  padding-top: 5px;
}

.profile-picture {
  position: absolute;

  width: 160px;
  height: 160px;
  top: 20%;
  z-index: 100;
  border-radius: 100%;
  margin-left: 15px;
  border: 5px solid white;
}

.profile-picture img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
}

.info p {
  display: flex;
  justify-content: space-between;
  color: rgb(140, 153, 167);
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.details {
  margin-top: 100px;
}

#btn {
  width: 100px;
}

.followers-ctr {
  display: flex;
  margin-top: 0;
}

.followers-ctr strong {
  font-weight: 900;
  color: black;
}

.followers-ctr p:nth-child(2) {
  padding-left: 0.8rem;
}

.link-ctr {
  display: flex;
  margin: 0 -15px;
  border-bottom: 1px solid lightgray;
}

.tab {
  flex: 1 1 auto;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.tab a {
  text-decoration: none;
  color: grey;
}

.tab:hover {
  background-color: lightblue;
}
