* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  font-size: 16px;
}

#container {
  min-width: 500px;
  max-width: 650px;
  border: 1px solid lightgrey;
}

.header-container {
  display: flex;
  align-items: center;
  background-color: white;
}

.left-arrow {
  padding: 0 20px;
}

.left-arrow img {
  height: 12px;
}

.top-name {
  padding: 5px;
}

.display-name {
  font-weight: 920;
  font-size: 1.1rem;
}

#num-of-tweets,
.user-name {
  color: grey;
  font-size: 0.8rem;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.profile-details {
  margin-left: 5px;
}

.avatar-img {
  position: relative;
  top: -60px;
  margin-left: 5px;
}

.avatar-img > img {
  background-color: white;
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
}

.follow-button {
  display: flex;
  align-items: flex-start;
  margin: 8px;
}

button {
  padding: 5px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: rgb(31, 153, 201);
  color: white;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}

.cover-img > img {
  width: 100%;
  height: auto;
}

.profile-info > p {
  display: inline;
  vertical-align: middle;
}

.date-joined {
  padding: 5px 0;
}

.followers-ctr {
  display: flex;
  padding: 10px 0;
}

.following {
  padding-right: 15px;
}

.following a {
  color: black;
  font-weight: 800;
  font-size: 0.9rem;
  text-decoration: none;
  padding-right: 5px;
}

.followers a {
  color: black;
  font-weight: 800;
  font-size: 0.9rem;
  text-decoration: none;
  padding-right: 5px;
}

.link-ctr {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.tab {
  flex: 1 1 auto;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.tab a {
  text-decoration: none;
}

.tab:hover {
  background-color: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}

.active {
  color: #1d9ae7;
  border-bottom: 2px solid #1d9ae7;
}

.container-tweets {
  display: flex;
  font-display: column;
}

.tweet-div {
  width: 100%;
  display: flex;
  padding-top: 10px;
  border-bottom: 1px solid #9cadb9;
}

.tweet-avatar {
  padding: 0 10px 15px 15px;
}

.tweet-avatar img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.tweet-details {
  display: flex;
  align-items: center;
}

.tweet-display-name p {
  font-size: 0.9rem;
  font-weight: 800;
  margin-right: 5px;
}

.tweet-created {
  margin-left: 5px;
  color: #808080;
}

.tweet-body {
  padding-top: 5px;
}

.tweet-icons {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #808080;
}
